@import '../bourbon/bourbon';
@import "../neat/neat";
@import "base/index";
@import "components/index";
@import "layout/index";

//test scss
body {
  background-color: tomato;
  font-family: 'Fjalla One',serif;
}

h2 {
  font-family: 'Open Sans'
}
