// defautls and resets


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

//universal styles
body {
  background-color: $background-color;
  -webkit-font-smooth: antialiased;
  position: relative;
}

//_typography.scss
h1 {
  font-family: $font-header;
  color: $font-primary-color;
  letter-spacing: 1px;
}

h2 {
  font-family: $font-body;
  color: $font-primary-color;
}

li {
  letter-spacing: 1px;
}

//_buttons.scss
button {

}

//_header.scss
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../img/#{$img-hero}');
  background-size: cover;
  background-position: 55% 25%;
  .top-nav {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-svg {
    width: 200px;
    height: auto;
    min-width: 200px
  }
  .logo-svg {
    width: 60px;
    height: auto;
    min-width: 60px
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    @media screen and #{$dropdown-break} {
      display: none;
    }
    li{
      color: $font-primary-color;
      list-style-type: none;
      font-family: $font-header;
      transition: #{$hover};
    }
    li:hover, li:active, li:focus {
      transition: #{$hover};
      color: $hover-color;
      transform: #{$scale};
    }
  }
  .dropdown span {
    display: none;
    @media screen and #{$dropdown-break} {
      display: block;
      width: 35px;
      height: 2px;
      background: $font-primary-color;
      margin: 9px;
      transition: #{$hover};
    }
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
    h1 {
      margin-top: 10px;
      letter-spacing: 6px;
      font-size: 1.3em;
    }
    .hero-text {
      width: 60%;
      margin-top: -40px;
    }
    .section-line {
      width: 250px;
      height: 5px;
      background-color: $font-primary-color;
      margin-top: -20px;
    }
    .circle-btn {
      @include circle-btn($opacity-light) {};
    }
    .circle-btn:hover {
      transform: #{$scale};
      transition: #{$hover};
      background-color: opacify($opacity-light, .2);
    }
  }
}

.middle-nav{
  position: absolute;
  z-index: 1;
  background: url('../img/#{$icon2}') top center repeat-x;
  background-size: cover;
  width: 100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  @extend %nav;
  @media screen and #{$dropdown-break} {
    justify-content: center;
    a {
      margin-left: 15%;
    }
  }
  ul {
    margin-left: 6%;
    width: 40%;
    li{
      color: $font-2nd-color;
      font-family: $font-body;
    }
    li:last-child {
      color: $button;
    }
    span {
      color: $font-2nd-color;
      font-size: 2em;
    }
  }
  a {
    margin-right: 10%;
    text-decoration: none;
    font-family: $font-body;
    transition: #{$hover};
    color: $font-2nd-color;
    font-size: 1.3em;
  }
  a:hover {
    transition: #{$hover};
    color: $hover-color;
    transform: #{$scale};
  }
}

//_container.scss
.flex-row1 {
  display: flex;
  flex-direction: row;
  height: 420px;
  @media screen and #{$dropdown-break} {
    flex-wrap: wrap;
    .tile1 {
      width: 100%;
      height: 420px;
    }
    .tile2 {
      width: 50%;
      height: 420px;
    }
    .tile3 {
      width: 50%;
      height: 420px;
    }
  }
  .tile1 {
    @include tile(2, $img2-big);
  }
  .tile2 {
    @include tile(1, $img3);
  }
  .tile3 {
    @include tile(1, $img4);
  }
}
