//mixins

@mixin circle-btn ($background-color: $opacity-dark) {
  background-color: $background-color;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  transition: #{$hover};
  img, svg {
    width: 40px;
    margin: 25px 35px;
  }
}

@mixin tile ($flex-grow: 1, $img:'') {
  flex-grow: $flex-grow;
  background-image: url('../img/#{$img}');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 50%;
  .tile-link {
    height: 420px;
    width: 100%;
  }
  .circle-btn {
    @include circle-btn(){};
    position: relative;
    svg {
      position: absolute;
    }
  }
  .color-box {
    width: 40px;
    height: 5px;
    background-color: $button;
    position: absolute;
    left: 50px;
    bottom: 80px;
  }
  h1 {
    font-size: 1.2em;
    position: absolute;
    left: 50px;
    bottom: 40px;
  }
}

//placeholders

%nav {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media screen and #{$dropdown-break} {
      display: none;
    }
    li {
      list-style-type: none;
      transition: #{$hover};
    }
    li:hover, li:active, li:focus {
      transition: #{$hover};
      color: $hover-color;
      transform: #{$scale};
    }
  }
}
