//mixins

@mixin circle-btn ($background-color: $opacity-dark) {
  background-color: $background-color;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  transition: #{$hover};
  img {
    width: 40px;
    margin: 25px 35px;
  }
}

//placeholders

%nav {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media screen and #{$dropdown-break} {
      display: none;
    }
    li {
      list-style-type: none;
      transition: #{$hover};
    }
    li:hover, li:active, li:focus {
      transition: #{$hover};
      color: $hover-color;
      transform: #{$scale};
    }
  }
}
