//color names
$white: #ffffff;
$orange: #E07537;
$grey: #343433;
$light-grey: #454542;

//color uses

$button: $orange;
$font-primary-color: $white;
$font-2nd-color: $light-grey;

//interpolation of img files

$img1: 'hero-moose.jpg';
$img2: 'black-dragon.jpg';
$img3: 'dark-magician.png';
$img4: 'yugi.jpg';
$img5: 'joey.jpg';
$img6: 'cards.jpg';

//fonts

$font-stack-header: Impact, sans-serif;
$font-header: 'Fjalla One', $font-stack-header;
$font-stack-body: helvetica, sans-serif;
$font-body: 'Open Sans', $font-stack-body;
