//color names
$white: #ffffff;
$orange: #E07537;
$grey: #343433;
$light-grey: #454542;
$lighter-grey: #e6e6e0;
$opacity-light: transparentize($white, .5);
$opacity-dark: transparentize($grey, .5);

//color uses

$background-color: $lighter-grey;
$button: $orange;
$hover-color: $orange;
$font-primary-color: $white;
$font-2nd-color: $lighter-grey;

//interpolation of img/icon files

$img-hero: 'hero-moose.jpg';
$img2-big: 'raft.jpg';
$img3: 'basecamp.jpg';
$img4: 'backpacking.jpg';
$img5: 'canoe.jpg';
$img6: 'photo-op.jpg';
$img7-big: 'home-base.jpg';

$icon1: 'play.png';
$icon2: 'bg-icon.png';


//fonts

$font-stack-header: Impact, sans-serif;
$font-header: 'Fjalla One', $font-stack-header;
$font-stack-body: helvetica, sans-serif;
$font-body: 'Open Sans', $font-stack-body;

//breakpoints

$dropdown-break: '(max-width: 960px)';
$md-break: '(max-width: 820px)';
$sm-break: '(max-width: 600px)';

//hover and other effects

$hover: 'all 400ms ease-in-out';
$scale: 'scale(1.3)';
